h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
.z-40 {
  z-index: 40;
}
/***** NavBar *****/
.my-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-nav .nav-icon {
  background-color: #7f22fe;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}
.my-nav .hub {
  color: #7f22fe;
}
.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-side .btn-add {
  background-color: #6a30fa;
  color: white;
  border-radius: 18px;
  padding: 8px 16px;
}
.icon-img {
  width: 36px;
  height: 36px;
}
.icon-img img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.bg-gray-100 {
  background-color: #fdfcfe;
}
.none-icons {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.icon-btn {
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: transparent;
}
.icon-btn:hover {
  background-color: #f3f4f6;
}
/***** End NavBar *****/

/***** Quick-stats *****/

.quick-stats .content {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 15px;
  background-color: white;
  border: 2px solid #e6e7e9;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 #0000001a;
}
.quick-stats .content .logo-icon {
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin: 10px;
}
.bg-blue-100 {
  background-color: #1a67fe;
}
.bg-orange-100 {
  background: linear-gradient(
    284deg,
    rgba(255, 132, 0, 1) 36%,
    rgba(255, 161, 0, 1) 60%
  );
}
.bg-red-100 {
  background-color: #ed0028;
}
.quick-stats .content .content-right-side h3 {
  font-weight: bold;
}

/***** End Quick-stats *****/

/***** Search *****/
.search-wrapper {
  position: relative;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(13, 37, 63, 0.08);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search-wrapper:hover {
  box-shadow: 0 12px 32px rgba(13, 37, 63, 0.12);
  transform: translateY(-2px);
}

.search-wrapper .search-icon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-size: 1.25rem;
  color: #a0aab5;
  transition: color 0.3s ease;
  pointer-events: none;
}
.custom-search-input {
  border: 2px solid #eee !important;
  border-radius: 20px !important;
  padding: 0.9rem 1.5rem 0.9rem 3.5rem !important;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  background-color: transparent;
  color: #2c3e50;
  transition: all 0.3s ease;
}

.custom-search-input::placeholder {
  color: #a0aab5;
  font-weight: 300;
}

.custom-search-input:focus {
  border-color: darkblue !important;
  box-shadow: 0 0 0 4px rgba(0, 0, 139, 0.15) !important;
  background-color: #ffffff;
  outline: none;
}
/***** End Search *****/

/***** Contact *****/
.contact-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  border: 2px solid #e5e7eb;
  padding: 10px;
  border-radius: 10px;
}
.contact-card:hover {
  box-shadow: 0 2px #d2e1dc;
}
.header-logo {
  background-color: #fb7600;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 70px;
}
.sami-name {
  font-size: 20px;
  font-weight: bold;
}
.icon {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
}

.contact-icon .icon-fav {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: white;
  border-radius: 50%;
  /* padding: 3px; */
}
.contact-icon .icon-emg {
  position: absolute;
  bottom: -4px;
  right: -4px;
  background-color: white;
  border-radius: 50%;
  /* padding: 3px; */
}
.icon-fav i {
  font-size: 10px;
  background: linear-gradient(
    284deg,
    rgba(255, 132, 0, 1) 36%,
    rgba(255, 161, 0, 1) 60%
  );
  padding: 6px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.icon-emg i {
  font-size: 10px;
  background-color: #ff2056;
  padding: 6px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.phone-icon {
  background-color: #dbeafe;
  padding: 4px;
  border-radius: 7px;
  color: #155dfc;
}

.email-icon {
  background-color: #ede9fe;
  padding: 8px;
  border-radius: 7px;
  color: #7f22fe;
  font-size: 12px;
}
.location-icon {
  background-color: #d0fae5;
  padding: 8px;
  border-radius: 7px;
  color: #009966;
  font-size: 12px;
}
.btn-icon {
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.icon-phone {
  background-color: transparent;
  color: #009966;
}
.icon-email {
  background-color: transparent;
  color: #7f22fe;
}
.icon-favt {
  background-color: transparent;
  color: #99a1af;
}
.icon-emergancy {
  background-color: transparent;
  color: #99a1af;
}
.icon-edit {
  background-color: transparent;
  color: #99a1af;
}
.icon-delete {
  background-color: transparent;
  color: #99a1af;
}
.icon-phone:hover {
  background-color: #d0fae5;
  color: #009966;
}
.icon-email:hover {
  background-color: #ede9fe;
  color: #7f22fe;
}
.icon-favt:hover {
  background-color: #f3f4f6;
  color: #ffb900;
}
.icon-emergancy:hover {
  background-color: #f3f4f6;
  color: #ff2056;
}

.icon-edit:hover {
  background-color: #f3f4f6;
  color: #4f39f6;
}
.icon-delete:hover {
  background-color: #f3f4f6;
  color: #ec003f;
}
a {
  background-color: transparent;
}

/***** End Contact *****/

/***** Modal *****/

.avatar-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(45deg, #7c3aed, #4f46e5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

/* Modal */
.modal-content {
  border-radius: 16px;
}

/* Inputs Focus */
.form-control:focus,
.form-select:focus {
  border-color: #7c3aed;
  box-shadow: 0 0 0 0.2rem rgba(124, 58, 237, 0.2);
}
.input-style {
  border-radius: 10px;
}
.text-gray {
  color: gray;
  padding: 10px;
  border-radius: 10px;
}
.text-gray:hover {
  background-color: #e5e7eb;
  color: gray;
}



/* Scroll inside modal */
.modal-body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 !important;
}

/* Checkbox */
.form-check {
  display: flex;
  align-items: center;
  gap: 6px;
} 
.submit-btn{
  background: linear-gradient(45deg, #7c3aed, #4f46e5);
  border: none;
  border-radius: 10px;
  color: white;
}
.submit-btn:hover {
  opacity: 0.9;
  color: white;
}
.cancel-btn{
  background-color: #f6f3f4;
  border-radius: 10px;
}
.cancel-btn:hover{
  background-color: #c6c4c5;
}
.fav{
  border-radius: 10px;
}
.fav .logo-icon{
  padding: 10px;
  background: linear-gradient(
    284deg,
    rgba(255, 132, 0, 1) 36%,
    rgba(255, 161, 0, 1) 60%
  );
  border-radius: 8px;
  color: white;
}
.fav .card-header{
  background-color: #FFF9EC;
}
.card-body .contact-item {
  background: #f5f5f5;
  padding: 15px 18px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.card-body .contact-item:hover{
  background: #FFFBEB;
  
}
.card-body .contact-item:hover .call-btn {
  background: #00BC7D;
  color: #fff;
}


/* Avatar */
.avatar {
  width: 50px;
  height: 50px;
  background: #ff7a00;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Call Button */
.call-btn {
  width: 45px;
  height: 45px;
  background: #d0fae5;
  color: #009966;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.emr{
  border-radius: 10px;
}
.emr .logo-icon{
  padding: 10px;
  background-color: #ff2056;
  border-radius: 8px;
  color: white;
}
.emr .card-header{
  background-color: #FEF2F2;
}
.card-body .contact-item-emr {
  background: #f5f5f5;
  padding: 15px 18px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.emr-btn{
background-color: #FEF2F2;
  color: #ff2056;
   width: 45px;
  height: 45px;
  
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.card-body .contact-item-emr:hover .emr-btn {
  background-color: #ff2056;
  color: #fff;
}
.card-body .contact-item-emr:hover{
  background: #FFF1F2;
  
}
.solid-fav-icon{
  color: #ffb900;
}

.solid-emg-icon{
  color: #ff2056;
}





/***** End Modal *****/
